{% extends 'base.html' %}
{% block body %}
<div id="container">

<div class="box">
<h1>Pool Scoreboard </h1>

<form class="winlose" method="post" action="/add_score/" enctype="multipart/form-data"> {% csrf_token %}
    <div class="label_input">
    <label>Winner:</label>
    <select name="winner">
    {% for player in players %}
    <option {% if player == last_game.winner %} selected="selected" {% endif %} value="{{ player.name }}">{{ player.name }}</option>
    {% endfor %}
    </select>
    </div>

    <div class="label_input">
    <label>Loser:</label>
    <select name="loser" >
    {% for player in players %}
    <option {% if player == last_game.loser %} selected="selected" {% endif %} value="{{ player.name }}">{{ player.name }}</option>
    {% endfor %}
    </select>
    </div>

    <div>
    <input type="submit" class="btn btn-success" name=".submit" value="Enter new game"/>
    </div>
</form>

<div class="table_div">
<table>
<tr>
<th><b>RANK</th>
<th><b>NAME</th>
<!--TD width=30 align=center><font color=#FFFFFF><b>% WIN</td-->
<th><b>LAST WIN</th>
<th><b>LAST LOSS</th>
<th><b>STREAK</th>
<th><b>ELO RATING</th>
</tr>
{% for player in players %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ player.name }}</td>
    <!--TD BGCOLOR=#CCDDEE align=center>60</td-->
    <td>{{ player.last_win }}</td>
    <td>{{ player.last_loss }}</td>

    {% if player.streak < 0 %}
    <td> <font color=#ff3333>{{ player.streak }}</td>
    {% else %}
    <td> <font color=#00ff00>{{ player.streak}}</td>
    {% endif %}

    <td>{{ player.rating }}</td>
</tr>
{% endfor %}
<tr rowspan=2>
    <td colspan=8>Match : <b>{{ number_of_games }}</b> :  <b>{{ last_game.winner.name }}</b> vs {{ last_game.loser.name }} for <b>{{ last_game.points }}</b> points.</td>
</tr>
</table>
</div>

</div>
</div>
{% endblock body %}
